.createBuilding__container {
  background-color: #d9d9d9;
  margin: 1.5em 4em 0 1em;
}

.createBuilding__paper {
  background: #d9d9d9;
  padding: 2em;
}

.createBuilding__form {
  background-color: #d9d9d9;
  padding: 50px;
}

.createBuilding__formLabel {
  margin: 0.5em;
}

.createBuilding__textField {
}

.createBuilding__select {
  margin-bottom: 0.5em;
}

.createBuilding__btn {
}
